a{
    background-color: #000000;
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: 40px;
    margin: 10px;
}

footer {
    background-color: #000000;
    text-align: center;
    margin: 10px;
}

h1 { 
    background-color: #000000;
    color: #ec0000;
    text-align: center;
    font-size: 60px;
    padding: 10px;
    margin: 10px;
}

h2 { 
    background-color: #000000;
    color: #ff0000;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

p {
    background-color: #000000;
    color: whitesmoke;
    text-align: center;
    font-size: 24px;
    border: 3px solid red;
    border-radius: 50px;
    padding: 10px;
}

main img {
    width: 800px;
    height: 550px;
    border-radius: 100px;
    padding: 100px;
    margin: 10px;
}

.r {
    background-color: #000000;
    color: whitesmoke;
    text-align: center;
    font-size: 24px;
    border-left: 7px dashed #ff0000;
    border-right: 7px dashed #ff0000;
    border-top: 6px dashed #ff0000;
    border-bottom: 6px dashed #ff0000;
    border-radius: 50px;
    padding: 10px;
}

body {
    border-left: 5px dashed #000000;
    border-right: 5px dashed #000000;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    border: 5px dashed rgb(0, 0, 0);
    margin-bottom: 30px;
}

td {
    padding: 10px;
    border: 5px dashed rgb(0, 0, 0);
    text-align: center;
    color: #ec0000;
    background-color: #000000;
    text-decoration: none;
    font-size: 40px;
    margin: 5px;
}

